/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #0c0a0a;
  color: #cecece;
}

.full-height {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.marginnav {
  margin-left: 80px;
}

.black {
  color: #000000;
}

.yellow {
  color: #ffe600;
}

.yellow-bg {
  background-color: #ffe600;
}

.large {
  font-size: 95px;
}

.medium {
  font-size: 50px;
}

.small {
  font-size: 25px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.btn {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  background-color: #ffe600;
  color: #000;
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: 0;
}

.btn:hover {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Navigation */

nav {
  font-family: 'Work Sans', sans-serif;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  border-right: 1px solid #4e4343;
}
.logo {
  margin: 20px 0;
}
.logo img {
  height: 40px;
}

.hamburger-menu {
  margin: 0 0 20px 0;
  cursor: pointer;
}

.hamburger-menu div {
  height: 2px;
  width: 45px;
  background-color: #c4cacc;
  margin: 8px 0;
}

.hamburger-menu div:nth-child(1) {
  width: 40px;
}
.hamburger-menu div:nth-child(3) {
  width: 40px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 200px;
  text-transform: uppercase;
  transform-origin: 0 0 0 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.title-inside {
  color: #85847c;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 6px;
}

.web-dev {
  color: #4a4945;
  margin: 3px 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 2px;
}

.project{
  margin-top: 20px;
}
