.project-title{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.fullproject img{
width: 100%;
padding: 0 40px 0 40px;
}

.desc {
    font-size: 17px;
    padding: 0 40px 0 40px;
    margin: 20px 0;
}
