.project-square {
  padding: 0 40px 0 40px;
  color: #c0c0c0;
}

.image img {
  opacity: 50%;
  width: 100%;
}

.square:hover {
  color: #ffe600;
  transform: scale(1.02);
  cursor: pointer;
}

a {
  color: #d1d1d1;
}

a:hover {
  color: #ffe600;
}
.square {
  margin: 10px 0 0 0;
  border: 1px solid #292929;
  padding: 30px;
  transition: all 0.2s ease-in-out;
}

.project-name {
  padding: 10px 0 0 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.tech {
  background-color: #292929;
  padding: 10px;
  margin: 0 10px 0 0;
  font-size: 13px;
  border-radius: 10px;
}

.created-box {
  margin: 20px 0 0 0;
}

.created {
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 14px;
  width: 50%;
}

.icon-created {
  font-size: 30px;
}

.created-arrow {
  width: 50%;
}
