.project-square {
  /* border: 1px solid red; */
  height: 100%;
  padding: 0 40px 0 40px;
  color: #c0c0c0;
}
.project-pic {
  overflow: hidden;
}

.project-square img {
  width: 100%;
  padding: 0;
  transition: transform 0.5s ease;
}

.project-name {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.creator {
  margin: 5px 0;
  font-weight: normal;
  text-transform: capitalize;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
}

.icon {
  font-size: 40px;
}

.title-project {
  margin: 10px 0;
}

a {
  color: #c0c0c0;
}

.project-square a:hover img {
  color: #ffe600;
  transform: scale(1.1);
}

a:hover {
  color: #ffe600;
}
